<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EGO</title>
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>
    <main id="contenedor">

    <img id="logo" src="/img/logo.png">
    <form>
      <div class="datospersonales">
        <label>Nombre</label>
        <input type="text">
      </div>

      <div class="datospersonales">
        <label>Apellido</label>
        <input type="text">
      </div>

      <h2>Selecciona un horario</h2>

      <div id="dias">
      <button type="button" id="anterior">◀</button>
      <div id="contenedorDias"></div>
      <button type="button" id="siguiente">▶</button>

      </div>

      <div class="horarios">

        <h3>Mañana</h3>

        <div class="bloques">
          <button type="button"></button>
        </div>

      </div>

      <div class="horarios">

        <h3>Tarde</h3>

        <div class="bloques">
          <button type="button"></button>
        </div>

      </div>

      <div class="horarios">

        <h3>Noche</h3>

        <button type="button"></button>

      </div>

      <button id="reservar">Reservar</button>

    </form>

  </main>
  <script src="/js/home.js"></script>
</body>
</html>