<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EGO</title>
    <link rel="stylesheet" href="/css/otp.css">

</head>
<body>

    <div id="contenedor">
        <div id="cajita">
            <img id="otpfoto" src="/img/otp.png"> </img>
            <h1 id="otptitulo">Codigo de verificacion</h1>
            <p id="otptexto">ingrese el codigo de verificacion que recibio al email</p>

                <div id="otpinputs">
                    <input type="text" maxlength="1">
                    <input type="text" maxlength="1">
                    <input type="text" maxlength="1">
                    <input type="text" maxlength="1">
                    <input type="text" maxlength="1">
                    <input type="text" maxlength="1">
                </div>
                
            <button id="verificar">Confirmar codigo</button>
        </div>
    </div>

</body>
<script src="/js/otp.js"></script>
</html>